@{
    ViewData["Title"] = "Home Page";
}


<p>

  

    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
        You are viewing HOME/Index. this page is pretty irrelevant.

    </a>

</p>