
@model IEnumerable<MovieWeb.Models.MovieListViewModel>;



    <table>


        <p>
                You are viewing Movie/Index
            ..now how the hell do you get to Movie/Create?

        </p>

        @foreach (MovieWeb.Models.MovieListViewModel movie in Model)

        {

            <tr>

                <td> <a asp-controller="movie" asp-action="detail/@movie.Id">@movie.Title</a> </td>



            </tr>

        }

    </table>