
@model IEnumerable<MovieWeb.Models.MovieListViewModel>;



<p>
    You are viewing Movie/Index
    Filmoverzicht
</p>

@if (Model == null || !Model.Any())
{

    <p>Er zijn geen films</p>
}
else
{
    @foreach (MovieWeb.Models.MovieListViewModel movie in Model)
    {

        <tr>
            <td> 
                <a asp-controller="movie" asp-action="detail" asp-route-id="@movie.Id">Detail</a> 
            </td>
        </tr>
    }

}

