
@model IEnumerable<MovieWeb.Models.MovieListViewModel>;



<p>
    You are viewing Movie/Index
    Filmoverzicht
</p>

@if (Model == null || !Model.Any())
{

    <p>Er zijn geen films</p>
}
else
{
    @foreach (MovieWeb.Models.MovieListViewModel movie in Model)
    {

        <tr>
            <td>
                @movie.Title

                <a asp-controller="movie" asp-action="detail" asp-route-id="@movie.Id">Detail</a>
                <a asp-controller="movie" asp-action="edit" asp-route-id="@movie.Id">Edit</a>
                <a asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.Id">Delete</a>
            </td>
        </tr>
    }

}

